   
   <h1> Everyone's Movies </h1>
   <ul>
    <% @movies.each do |movie| %>
    <li>
         Title: <%= movie.title %>
     <br />
         Director: <%= movie.director %> 
            <br />
         Date Watched: <%= movie.date_watched %> 
            <br />
         Location Watched: <%= movie.location_watched %> 
            <br />
         Rating: <%= movie.rating %> 
           <br />
           Review: <%= movie.review %>
           <br />
           <% @who = movie.user_id %>
           <% @user = User.find_by_id(@who) %>
           Posted by: <%= @user.email %>
           <br />
          <button class="button"> <a href="/movies/<%= movie.id %>"> See Post </a> </button>
    </li>
    <% end %>
    </ul>