   <ul>
    <% @movies.each do |movie| %>
    <li>
     <a href="/movies/<%= movie.id %>">Title: <%= movie.title %></a>
     <br />
         Director: <%= movie.director %> 
            <br />
         Date Watched: <%= movie.date_watched %> 
            <br />
         Location Watched: <%= movie.location_watched %> 
            <br />
         Rating: <%= movie.rating %> 
           <br />
           Review: <%= movie.review %>
           <br />
           <% @who = movie.user_id %>
           <% @user = User.find_by_id(@who) %>
           Posted by: <%= @user.email %>
    </li>
    <% end %>
    </ul>