<h1> Edit Movie</h1>


<h1> <%= @movie.title %>
<p> Title: <%= @movie.title %> </p>
<p> Director: <%= @movie.director %> </p>
<p> Date Watched: <%= @movie.date_watched %> </p>
<p> Location Watched: <%= @movie.location_watched %> </p>
<p> Rating: <%= @movie.rating %> </p>
<p> Review: <%= @movie.review %> </p>

<form action="/movies/<%= @movie.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<p> 
<label for="title"> Title:  <input type="text" name="title" id="title" placeholder= " <%= @movie.title %> " value =" <%= @movie.title %> "> </label>
</p>

<p>
<label for="director"> Director: </label> <input type="text" name="director" id="director"  placeholder= "<%= @movie.director %>" value="<%= @movie.director %>" > </p>
<p>
<label for="date_watched"> Date you watched the movie: </label> <input type="text" name="date_watched" id="date_watched"  placeholder= "<%= @movie.date_watched %>" value="<%= @movie.date_watched %>" > </p>
<p>
<label for="location_watched"> Where you watched the movie: </label> <input type="text" name="location_watched" id="location_watched"  placeholder= "<%= @movie.location_watched %>" value="<%= @movie.location_watched %>" > </p>
<p>
<label for="rating"> Your rating(1-10): </label> <input type="text"  name="rating" id="rating"  placeholder= "<%= @movie.rating %>" value= "<%= @movie.rating %>" > </p>
<p>
<label for="review"> Review: </label> <input type="text"  name="review" id="review"  placeholder= "<%= @movie.review %>" value= "<%= @movie.review %>" > </p>

<input type="submit" id="submit">
</form>
