
<h2> Hello <%= session[:email] %> </h2>
    <h2> This is your homepage where you will see all of the horror movies you have tracked.</h2>

      <!---  <button class="button"> <a href="/movies/new"> Input a movie here </a> </button> -->


   <br />
   <h1> Your Movies </h1>
   <a id="new_movie" href="/movies/new"> <img src="/images/Horror_KK_uploadbutton.png" id="upload" alt="upload button"> </a>
   <br />
   <br />

<% if !@movies.empty?%>
    <ul>
    <% @movies.each do |movie| %>
    <li>
         Title: <%= movie.title %>
     <br />
         Director: <%= movie.director %> 
            <br />
         Date Watched: <%= movie.date_watched %> 
            <br />
         Location Watched: <%= movie.location_watched %> 
            <br />
         Rating: <%= movie.rating %> 
           <br />
           Review: <%= movie.review %>
           <br />
           <button class="button"> <a href="/movies/<%= movie.id %>"> See Post </a> </button>
    </li>
    <% end %>
    </ul>
   
   <% else %>

   <h2> You don't have any movies yet. Once you do, they'll go here. Input a movie now to fill this up. </h2>

   <% end %>