<h2> Hello <%= session[:email] %> </h2>
    <h2> This is your homepage where you will see all of the horror movies you have tracked</h2>

      <button class="button"> <a href="/movies/new"> Input a movie here </a> </button>


    <ul>
    <% @movies.each do |movie| %>
    <li>
     <a href="/movies/<%= movie.id %>">Title: <%= movie.title %></a>
     <br />
         Director: <%= movie.director %> 
            <br />
         Date Watched: <%= movie.date_watched %> 
            <br />
         Location Watched: <%= movie.location_watched %> 
            <br />
         Rating: <%= movie.rating %> 
           <br />
           Review: <%= movie.review %>
    </li>
    <% end %>
    </ul>