<h1> Hello <%= session[:email] %> </h1>
    <h2> This is your homepage where you will see all of the movies you have tracked</h2>

    <a href="/movies/new"> Input a movie here </a>


    <ul>
    <% @movies.each do |movie| %>
    <li>
     <a href="/movies/<%= movie.id %>">Title: <%= movie.title %></a>
     <br />
         Release Date: <%= movie.release_date %> 
            <br />
         genre: <%= movie.genre %> 
            <br />
         Director: <%= movie.director %> 
            <br />
         Date Watched: <%= movie.date_watched %> 
            <br />
         Location Watched: <%= movie.location_watched %> 
            <br />
        Rating: <%= movie.rating %> 
           <br />
    </li>
    <% end %>
    </ul>