
<h1> <%= @movie.title %> </h1>
<p> Title: <%= @movie.title %> </p>
<p> Director: <%= @movie.director %> </p>
<p> Date Watched: <%= @movie.date_watched %> </p>
<p> Location Watched: <%= @movie.location_watched %> </p>
<p> Rating: <%= @movie.rating %> </p>
<p> Review: <%= @movie.review %> </p>

<form method="POST" action="/movies/<%=@movie.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
</form>
   <button class="button"> <a href="/movies/<%=@movie.id%>/edit"> edit </a></button>



